@use '../../../../scss/globals/' as g;

.l-section-content-centered {
  background-color: var(--color-white);
  margin: auto;
  padding: 35px 15px 35px 15px;
  width: 95%;
  
  @include g.media('md') {
    padding: 50px 35px 65px 35px;
    width: 85%;
  }

  &__inner {
    display: flex;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      gap: g.$marginPX--XS;
    padding-top: g.$paddingPX--MD;
    width: 100%;
    position: relative;

    @include g.media('md') {
      align-items: center;
      justify-content: center;
      padding-top: g.$paddingPX--LG;
    }

    &::before {
      background-color: var(--color-gray);
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
}