@use '../../../scss/globals/' as g;
.navigation-with-pipe {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;

    @include g.media('md') {
      gap: 10px;
    }
  & a {
    @include g.auto_clamp(12, 600, 16, 1200);
    font-weight: 700;
    padding: 0 14px 0 7px;
    position: relative;

    @include g.media('md') {
      padding: 0 20px 0 10px
    }

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-of-type)::after {
      background-color: var(--color-revert);
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  
}