@use '../../../../scss/globals/' as g;

.back_to_top_link {
  border-top: solid 1px;
  font-size: 90%;
  font-weight: 700;
  color: g.$c-blue;
  line-height: 2.5rem;
  text-decoration: none;
  padding: 0 0 0 35px;
  transform: rotate(90deg);
  height: 50px;
  position: fixed;
  right: 5px;
  bottom: 20px;

  &::before {
    border-top: solid 1px;
    content: "";
    display: block;
    transform: rotate(35deg);
    transform-origin: left top;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
  }
}