.c-category-link-label {
  background-color: var(--color-black);
  border-radius: 100px;
  color: var(--color-white);
  display: inline-block;
  padding: 1px 10px;
  text-align: center;
  width: auto;
}