.loadingWrapper {
  display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  margin: 50px auto 70px;
  transition: all 0.3s; 
  z-index: 9999;

  & p {
    color: var(--color-text--gray);
  }
}

.loader {
  --d:15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #AFAFAF;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 1.5px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 2px,
    calc(-1*var(--d))     calc(0*var(--d))     0 2.5px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 3px,
    calc(0*var(--d))      calc(-1*var(--d))    0 3.5px;
  animation: s7 1s infinite steps(8);
}
@keyframes s7 {
  100% {transform: rotate(1turn)}
}