@use '../../../../scss/globals/' as g;

.label_link {
  background-color: var(--color-primary);
  border-radius: 30px;
  color: g.$c-white;
  display: flex;
    justify-content: center;
    align-items: center;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  transition: all .1s;
  width: auto;
  height: 35px;
  width: 200px;
  &:hover {
    opacity: .8;
    text-decoration: underline;
  }
  
  & a {
    color: g.$c-white;
  }
}