@use '../../../../scss/globals/' as g;

.input_tel {
  position: relative;

  &__field {
    border: 1px solid g.$c-base;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

    &::placeholder {
      color: transparent;
    }

    &__active {
      border: 2px solid g.$c-blue;
    }
  }
}