@use '../../../../../_src/scss/globals/' as g;

.h1,.h2,.h3,.h4,.h5,.h6,.div {
  font-weight: 700;
}
.h1 {
  font-size: 50px;
}
.h2 {
  font-size: 40px;
  margin-bottom: g.$marginVW--SM;
}
.h3 {
  font-size: 30px;
}
.h4 {
  font-size: 24px;
}
.h5 {
  font-size: 18px;
}
.h6 {
  font-size: 16px;
}
.div {
  font-size: g.$default_fz;
}