@use '../../../scss/globals/' as g;

.hamburger {
  &__navigation {
    background: g.$c-white;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    opacity: .9;
    transition: all .6s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
  
    &__open {
      left: 0;
    }
    &__close {
      left: 100%;
    }
  }
}

