@use '../../../../scss/globals/' as g;

.l-title-element-with-link-label {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: g.$marginPX--MD;

    @include g.media('lg') {
      gap: g.$marginPX--LG;
    }

    &__label {
      display: none;
      @include g.media('md') {
        display: block;
      }
    }
}