@use '../../../../scss/globals/' as g;

.input_select {
  position: relative;

  &::before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid g.$c-blue;
    padding: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
    
  }

  &__field {
    border: 1px solid g.$c-base;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    position: relative;

    &::placeholder {
      color: transparent;
    }

    &__active {
      border: 2px solid g.$c-blue;
    }
  }
}