@use '../../../../_src/scss/globals/' as g;

.l_section_inner {
  margin-bottom: g.$marginPX--MD;
  padding: 0 g.$paddingVW--SM g.$paddingVW--SM;

  @include g.media('md') {
    margin-bottom: g.$marginPX--LG;
  }
}