@use '../../../scss/globals/' as g;

.l_section_inner {
  margin-bottom: g.$marginPx__MD;
  padding: 0 g.$paddingVw__SM g.$paddingVw__SM;

  @include g.media('md') {
    margin-bottom: g.$marginPx__LG;
  }
}