@use '../../../../_src/scss/globals/' as g;

.layout_form {
  border: 1px solid g.$c-base;
  border-radius: 5px;
  padding: g.$paddingVW--SM;

  & > div:not(:last-child) {
    margin-bottom: g.$marginVW--SM;
  }

  & > * {
    z-index: 10;
  }
}