@charset 'urt-8';
// font-size
$default_fz: 16;

// colour
$c-base: #222;
$c-blue: #2359A1;
$c-white: #fff;  // 整理後削除すること。今後は$color-whiteを使う。
$color-white: #fff;
$color-gray: #808080;

$theme-colors: (
  primary: #333,
  secondary: #b70000,
  success: #2359A1,
  warning: #f8c11a,
  danger: #b70000,
  background: #e9e9e9,
  base: #f7f7f7,
  black: #000,
  revert: #fff,
  white: $color-white,
  gray: $color-gray,
  gray-40: lighten($color-gray, 40%)
);



// background-colour
$c-background-base: $c-white;
$c-background-invert: $c-blue;

// border-colour
$c-border-base: $c-blue;

// font-colour 
$c-font-color-base: $c-base;
$c-font-color-accent: $c-blue;
$c-font-color-invert: $c-white; 

// ================
// margin (PX)
// ================
$marginPX--XS: 10px;
$marginPX--SM: 15px;
$marginPX--MD: 30px;
$marginPX--LG: 50px;
$marginPX--XL: 100px;

// ================
// margin (vw)
// ================
$marginVW--XS: 1vw;
$marginVW--SM: 3vw;
$marginVW--MD: 5vw;
$marginVW--LG: 10vw;
$marginVW--XL: 15vw;

// ================
// padding (PX)
// ================
$paddingPX--XS: 10px;
$paddingPX--SM: 15px;
$paddingPX--MD: 30px;
$paddingPX--LG: 50px;
$paddingPX--XL: 100px;

// ================
// padding (vw)
// ================
$paddingVW--XS: 1vw;
$paddingVW--SM: 3vw;
$paddingVW--MD: 5vw;
$paddingVW--LG: 10vw;
$paddingVW--XL: 15vw;

// ================
// body min-width
// ================
$minWidth: 375px;

// ================
// view Size
// ================
$xs: '375px'; // for small screen mobile
$sm: '540px'; // for mobile screen
$md: '900px'; // for tablets
$lg: '1280px'; // for laptops
$xl: '1440px'; // for desktop / monitors
$xxl: '1920px'; // for big screens

// ================
// Break Points
// ================
$breakpoints: (
  'xs': 'screen and (min-width: #{$xs})',  // SmartPhone
  'sm': 'screen and (min-width: #{$sm})',  // Tablet
  'md': 'screen and (min-width: #{$md})',  // PC
  'lg': 'screen and (min-width: #{$lg})', // PC (Wide)
  'xl': 'screen and (min-width: #{$xl})', // PC (Wide)
  'xxl': 'screen and (min-width: #{$xxl})' // PC (Wide)
) !default;